<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        a {
            color:black;
        }
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="get" action="{% url 'login' %}">
        <label>Username</label>
        <input type="text" name="username">
        </br>
        <label>Password</label>
        <input type="password" name="pass">
        <button type="submit">Login</button>
    </form>
    <button><a href="{% url 'register' %}">Register</a></button>
</body>
</html>